.meneItems {
  background-color: var(--color-bg-deep);
  top: 0;
  height: 75px;
  position: sticky;
  color: white;
  z-index: 2;
}
.notDisplay {
  display: none;
}
.meneItems ul {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 1%;
  place-content: center;
  padding: 5px 1%;
}
.meneItems ul li {
  border-radius: 15px;
  cursor: pointer;
  font-size: 15px;
  background-color: var(--color-bg);
  max-width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.notselected {
  background-color: var(--color-bg);
  border-radius: 15px;
  padding: 5px;
}
.icon {
  background-color: white;
  color: white;
}
.link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  place-items: center;
  color: var(--color-light);
  width: 100%;
  border-radius: 15px;
}
.meneItems .selected {
  border-radius: 15px;
  padding: 5px;
  background-color: var(--color-primary-variant);
  width: 100%;
}
